@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --subtitle: #525252;
    --hover-black: #737373;
    --hover-white: #d4d4d4;
    --header: 72px;
    --vertical-spacing: 8rem;
    --grow: 30px;
    --card-height: calc(80vh - var(--grow));
    --card-height-hover: 80vh;
    --card-width: calc(var(--card-height)*3/4);
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .wrap {
    @apply mx-auto max-w-7xl px-6;
  }

  .footer * {
    @apply text-sm font-light;
  }

  .section-heading {
    @apply mb-4 text-3xl md:mb-6 md:text-3xl origin-top scale-y-110 transform;
  }

  .section-spacing {
    @apply mb-30 md:mb-46;
  }

  .listing-card {
    @apply flex min-h-26 items-center gap-8 border-b-1 border-gray-200;
  }

  .upcoming-events {
    @apply flex flex-col-reverse gap-12 md:flex-row md:gap-[5%];
  }

  .upcoming-events-cards {
    @apply mt-15 md:w-[60%];
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes inner-marquee {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25%);
  }
}
